# Base mainnet
BASE_TREASURY_ADDRESS=0x5c64a8b0935DA72d60933bBD8cD10579E1C40c58
BASE_RPC=wss://base-rpc.conet.network/ws

# CoNET mainnet
CONET_TREASURY_ADDRESS=0x4Abb173016665897F9f334590af2A4495DFaad55
CONET_RPC=https://mainnet-rpc1.conet.network
